build
dist / media
node_modules
.DS_Store
.env
.next
.vercel
.pnpm-store
.pnpm-store/*
.pnpm-store/files
.vscode
.windsurf

# Payload default media upload directory
public/media/

public/robots.txt
public/sitemap*.xml

public/cascade-studio/**
public/cascade-studio/
public/cascade-studio

