# This is an example environment variable file for the Payload CMS application.
# Copy this file to .env and fill in the values to configure your application.

#If running in devcontainer, the variables are set in the devcontainer.json file, so you can ignore the values here. If running locally, you will need to fill in the values.

# Database connection string
POSTGRES_URL=postgresql://neondb_owner:

# Used to configure CORS, format links and more. No trailing slash
FRONTEND_URL=http://localhost:3000

# Database connection string
PAYLOAD_SECRET=YOUR_SECRET_HERE

# Used to configure CORS, format links and more. No trailing slash
NEXT_PUBLIC_SERVER_URL=http://localhost:3001

# Secret used to authenticate cron jobs
CRON_SECRET=YOUR_CRON_SECRET_HERE

# Used to validate preview requests
PREVIEW_SECRET=YOUR_SECRET_HERE

# Used to validate webhook requests
REVALIDATE_SECRET=YOUR_SECRET_HERE